<div class="div">
  <h1><%= @task.title %><h1>
  <p><%= @task.details %></p>
</div>
<%= link_to "Edit link", edit_task_path %>
<%= link_to "Go back to task list",  tasks_path %>
<%= link_to "Delete this task",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
