<div class="container">
  <div class="div">
    <h1><%= @task.title %><h1>
    <h4><%= @task.details %></h4>
  </div>
  <ul class="list-group">
    <li class="list-group-item"><%= link_to "Edit link", edit_task_path %></li>
    <li class="list-group-item"><%= link_to "Go back to task list",  tasks_path %></li>
    <li class="list-group-item"><%= link_to "Delete this task",
              task_path(@task),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
              </li>
  </ul>
</div>
